* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
body {
  width: 100%;
  height: 100%;
}
.all_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  color: aliceblue;
  position: relative;
  font-size: 8rem;
  padding: 0.625rem 1.25rem;
  margin: 0 2.5rem;
  /* background: black; */
  border-radius: 90%;
  text-shadow: 0 0 6.25rem;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    color: lawngreen;
  }
  25% {
    color: deeppink;
  }
  50% {
    color: deepskyblue;
  }
  75% {
    color: white;
  }
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .all_logo {
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
}
